@page {
    size: A4; /* Change from the default size of A4 */
    margin: 18mm; /* Set margin on each page */
    /* @bottom-right {
        content: counter(page) "/" counter(pages);
        font-size: 9pt;
        margin-top: 8mm;
        vertical-align: top;
        padding-top: 1mm;
        width: 20%;
    } */
}

@media print {
    #left-col {
        width: 150mm;
    }
}

body {
    font-family: 'Charter', 'Georgia', 'Times', serif;
    font-size: 10pt;
}

.container {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

#left-col {
    /* width: 61.9%; */
    margin-right: 20px;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    max-width: 700pt;
}

.header {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'Verdana', sans-serif;
}

.header h1 {
    font-size: 1em;
    font-stretch: condensed;
}

.header a {
    color: black;
    text-decoration: none;
    overflow: hidden;
}

.header a:hover {
    text-decoration: underline;
}

.header > h1 {
    font-size: 20pt;
    margin: 0;
}

.sub-heading {
    display: flex;
    justify-content: space-between;
}

.sub-heading > h2 {
    font-size: 10pt;
    margin: 0;
    font-weight: normal;
}

/* First sub heading margin */
.sub-heading > h2:first-child {
    margin-right: 10pt;
}

#right-col {
    width: 38.1%;
    max-width: 300pt;
}

section {
    font-size: 10pt;
}

section h3 {
    font-size: 11pt;
}

section > ul {
    list-style-type: disc;
    padding-left: 12pt;
}

section > ul > li {
    margin-top: 10pt;
}

#headshot {
    width: 100%;
}

.details {
    color: rgb(131, 131, 131);
    font-size: 9pt;
    margin-left: 12pt;
    margin-top: 2pt;
}
