@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    /* Use Tailwind background color*/
    @apply bg-background;
    @apply dark:bg-background-dark;
  }

  body::before,
  body::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 40%;
  }

  a::before {
    filter: url(#noiseFilter);
  }
}
